<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>


<i class="add demo-icon icon-coffee food">&#xe82c;</i>
<i class="add demo-icon icon-beer-1 food">&#xe869;</i>
<i class="add demo-icon icon-coffee-1 food">&#xe86a;</i>
<i class="add demo-icon icon-glass food">&#xe800;</i>
<i class="add demo-icon icon-wine food">&#xe86b;</i>
<i class="add demo-icon icon-food food">&#xe82d;</i>
<i class="add demo-icon icon-beer food">&#xe82e;</i>
<i class="add demo-icon icon-cup food">&#xe886;</i>
<i class="add demo-icon icon-beer-2 food">&#xe882;</i>
