<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>

<i class="add demo-icon icon-birthday fun">&#xe86c;</i>
<i class="add demo-icon icon-music fun">&#xe80a;</i>
<i class="add demo-icon icon-video fun">&#xe80e;</i>
<i class="add demo-icon icon-videocam fun">&#xe80f;</i>
<i class="add demo-icon icon-picture fun">&#xe810;</i>
<i class="add demo-icon icon-camera fun">&#xe811;</i>
<i class="add demo-icon icon-garden fun">&#xe875;</i>
<i class="add demo-icon icon-giraffe fun">&#xe876;</i>
<i class="add demo-icon icon-theatre fun">&#xe879;</i>
<i class="add demo-icon icon-tree-2 fun">&#xe87b;</i>
<i class="add demo-icon icon-tree-1 fun">&#xe87c;</i>
<i class="add demo-icon icon-gift fun">&#xe85e;</i>
<i class="add demo-icon icon-tree fun">&#xe858;</i>
