<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>

<i class="add demo-icon icon-heartbeat health">&#xe82f;</i>
<i class="add demo-icon icon-ambulance health">&#xe830;</i>
<i class="add demo-icon icon-medkit health">&#xe831;</i>
<i class="add demo-icon icon-h-sigh health">&#xe832;</i>
<i class="add demo-icon icon-heart-filled health">&#xe840;</i>
<i class="add demo-icon icon-stethoscope health">&#xe851;</i>
<i class="add demo-icon icon-user-md health">&#xe85b;</i>
<i class="add demo-icon icon-wheelchair health">&#xe834;</i>
