<i id="communicate" class="demo-icon menu-icon communicate">&#xe84b;</i>
<i id="health" class="demo-icon menu-icon health">&#xe85b;</i>
<i id="sport" class="demo-icon menu-icon sport">&#xe85c;</i>
<i id="food" class="demo-icon menu-icon food">&#xe82d;</i>
<i id="finance" class="demo-icon menu-icon finance">&#xe884;</i>
<i id="fun" class="demo-icon menu-icon fun">&#xe80a;</i>
<i id="weather" class="demo-icon menu-icon weather">&#xe802;</i>
<i id="trip" class="demo-icon menu-icon trip">&#xe824;</i>
<i id="other" class="demo-icon menu-icon other">&#xe81c;</i>
