<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>


<i class="add demo-icon icon-smile other">&#xe836;</i>
<i class="add demo-icon icon-frown other">&#xe837;</i>
<i class="add demo-icon icon-meh other">&#xe838;</i>
<i class="add demo-icon icon-plug other">&#xe839;</i>
<i class="add demo-icon icon-extinguisher other">&#xe835;</i>
<i class="add demo-icon icon-home-outline other">&#xe842;</i>
<i class="add demo-icon icon-doc other">&#xe84d;</i>
<i class="add demo-icon icon-bank other">&#xe850;</i>
<i class="add demo-icon icon-paw other">&#xe852;</i>
<i class="add demo-icon icon-graduation-cap other">&#xe853;</i>
<i class="add demo-icon icon-key other">&#xe859;</i>
<i class="add demo-icon icon-book other">&#xe85f;</i>
<i class="add demo-icon icon-battery other">&#xe864;</i>
<i class="add demo-icon icon-male other">&#xe80b;</i>
<i class="add demo-icon icon-female other">&#xe80c;</i>
<i class="add demo-icon icon-child other">&#xe80d;</i>
<i class="add demo-icon icon-attention other">&#xe819;</i>
<i class="add demo-icon icon-scissors other">&#xe81f;</i>
<i class="add demo-icon icon-off other">&#xe821;</i>
<i class="add demo-icon icon-pencil-1 other">&#xe873;</i>
<i class="add demo-icon icon-industrial-building other">&#xe87d;</i>
<i class="add demo-icon icon-basket-2 other">&#xe88a;</i>
<i class="add demo-icon icon-article-alt other">&#xe88b;</i>
<i class="add demo-icon icon-print-2 other">&#xe88e;</i>
<i class="add demo-icon icon-t-shirt other">&#xe891;</i>
<i class="add demo-icon icon-key-1 other">&#xe885;</i>
<i class="add demo-icon icon-toilet other">&#xe880;</i>
<i class="add demo-icon icon-trash-empty other">&#xe81a;</i>
<i class="add demo-icon icon-lightbulb other">&#xe81c;</i>
<i class="add demo-icon icon-hourglass other">&#xe862;</i>
