<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>


<i class="add demo-icon icon-road trip">&#xe822;</i>
<i class="add demo-icon icon-bed trip">&#xe833;</i>
<i class="add demo-icon icon-cab trip">&#xe823;</i>
<i class="add demo-icon icon-suitcase trip">&#xe820;</i>
<i class="add demo-icon icon-truck trip">&#xe814;</i>
<i class="add demo-icon icon-bus trip">&#xe824;</i>
<i class="add demo-icon icon-bicycle trip">&#xe825;</i>
<i class="add demo-icon icon-traffic-cone trip">&#xe83e;</i>
<i class="add demo-icon icon-fuel trip">&#xe874;</i>
<i class="add demo-icon icon-address trip">&#xe871;</i>
<i class="add demo-icon icon-motorcycle trip">&#xe826;</i>
<i class="add demo-icon icon-train trip">&#xe827;</i>
<i class="add demo-icon icon-ship trip">&#xe828;</i>
<i class="add demo-icon icon-traffic-cone trip">&#xe83e;</i>
<i class="add demo-icon icon-flight trip">&#xe856;</i>
<i class="add demo-icon icon-subway trip">&#xe85a;</i>
<i class="add demo-icon icon-tools trip">&#xe861;</i>
