<i id="menu" class="demo-icon menu-icon ">&#xe892;</i>

<i class="add demo-icon icon-rain weather">&#xe801;</i>
<i class="add demo-icon icon-cloud-sun weather">&#xe802;</i>
<i class="add demo-icon icon-drizzle weather">&#xe803;</i>
<i class="add demo-icon icon-snow weather">&#xe804;</i>
<i class="add demo-icon icon-cloud-flash weather">&#xe805;</i>
<i class="add demo-icon icon-cloud-wind weather" >&#xe806;</i>
<i class="add demo-icon icon-wind weather" >&#xe807;</i>
<i class="add demo-icon icon-sun weather">&#xe809;</i>
<i class="add demo-icon icon-umbrella weather">&#xe847;</i>
<i class="add demo-icon icon-sun-1 weather">&#xe86d;</i>
<i class="add demo-icon icon-cloud weather">&#xe86e;</i>
<i class="add demo-icon icon-flash weather">&#xe86f;</i>
<i class="add demo-icon icon-moon weather">&#xe855;</i>
